/*
COLOR GLOSSARY:
gloomy-london: #204f6f;
sri-lanka-shores: #339899;
mermaid-scales: #52bf90;
peas-in-a-pod: #78dd90;
sea-glass: #c9eccb;

FONT GLOSSARY:
Roboto: https://fonts.google.com/specimen/Roboto
Nixie One: https://fonts.google.com/specimen/Nixie+One
Source Sans Pro: https://fonts.google.com/specimen/Source+Sans+Pro

*/

html {
  background: rgb(32,79,111);
  background: linear-gradient(180deg, rgba(32,79,111,1) 0%, rgba(51,152,153,1) 100%);
}

* {
  text-align: center;
}

h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 42px;
  letter-spacing: 2px;
  color: #c9eccb; /* sea glass */
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #c9eccb; /* sea glass */
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #204f6f; /* gloomy london */
}

p, a {
  font-family: 'Nixie One', sans-serif;
  font-weight: bold;
  color: #204f6f; /* gloomy london */
}

p {
  margin: 5px 10px;
}

a {
  padding: 10px 15px;
  background: #c9eccb; /* sea glass */
  border-radius: 20px;
}

div {
  display: flex;
  flex-direction: column;

  width: 75vw;
  margin: 20px auto;
}

.section {
  background: rgba(120, 221, 144, .8);
  padding: 20px 0;
}

.who-we-are > p {
  text-align: justify;
  margin: 5px;
}

.contact-us {
  width: 40vw;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding: 0;
}

.links p {
  width: unset;
}

.content {
  padding: 15px;
}
