/*
COLOR GLOSSARY:

FONT GLOSSARY:
Roboto: https://fonts.google.com/specimen/Roboto
Nixie One: https://fonts.google.com/specimen/Nixie+One
Source Sans Pro: https://fonts.google.com/specimen/Source+Sans+Pro

*/

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;;
}

p, a {
  font-family: 'Nixie One', sans-serif;
  font-weight: bold;
}

div {
  display: flex;
  flex-direction: column;

  width: 75vw;
  margin: 20px auto;
  padding: 5px;

  border: 1px solid black;
}

div:not[.links] p {
  margin: 0 auto;
  width: 75%;
  text-align: justify;
}

.content {
  border: none;
}

.contact-us {
  width: 40vw;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  border: none;
}

.links p {
  width: unset;
}
