/* COLOR GLOSSARY */

$gloomy-london: #204f6f;
$sri-lanka-shores: #339899;
$mermaid-scales: #52bf90;
$peas-in-a-pod: #78dd90;
$sea-glass: #c9eccb;

/* FONT GLOSSARY */

$alfa-slab-one: 'Alfa Slab One', sans-serif;
$solway: 'Solway', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$nixie-one: 'Nixie One', sans-serif;

/* WEBSITE SCHEMA */

$title-font: $alfa-slab-one;
$subtitle-font: $solway;
$header-font: $source-sans-pro;
$text-font: $nixie-one;
